.doughnut_1 {
  height: 400px;
  width: 400px;
  margin-top: 5%;
  margin-bottom: 50px;
  margin-left: 20%;
  float: left;
}

.doughnut_2 {
  height: 400px;
  width: 400px;
  margin-top: 5%;
  float: right;
}

.card1 {
  margin-top: 3%;
}

.card2 {
  margin-top: 12%;
}

.card3 {
  margin-top: 3%;
  text-align: left;
}

.bar_1 {
  position: relative;
  height: 400px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10%;
}

.bar_2 {
  position: relative;
  height: 400px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.bar_3 {
  position: relative;
  height: 400px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.bar_4 {
  position: relative;
  height: 400px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.form_1 {
  float: left;
  margin-top: 1%;
  margin-left: 38%;
}

.form_2 {
  float: right;
  margin-top: 1%;
  margin-right: 38%;
}
