.title {
  text-align: center;
}

.form {
  text-align: center;
  margin: 4px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS";
}

a {
  align-items: center;
}

.dropDown {
  background-color: beige;
}

.dropDownLabel {
  font-size: 22px;
}

select {
  font-size: 19px;
}

.doughnut_1 {
  height: 400px;
  width: 400px;
  margin-top: 5%;
  margin-bottom: 50px;
  margin-left: 10%;
  float: left;
}

.doughnut_2 {
  height: 400px;
  width: 400px;
  margin-top: 5%;
  float: right;
}
